# SPDX-License-Identifier: EPL-1.0
# SPDX-FileCopyrightText: 2017 The Linux Foundation
# Ignore nodejs dir created by linting tools
node_modules/

# Ignore Vim temporary files
.*.sw?

# Ignore changes to the JJB Configuration File
jenkins.ini

# Maven
target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Eclipse
.project

# Python
.tox/
__pycache__/
*.pyc
docs/_build/

# Node / NPM
_cacache/
anonymous-cli-metrics.json

# global-jjb
archives/
