[access]
	inheritFrom = releng
[project]
	description = Global Jenkins Job Builder templates

[access "refs/*"]
	owner = group ldap/lfinfra-gerrit-releng-global-jjb-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/lfinfra-gerrit-releng-global-jjb-committers
	forgeCommitter = group ldap/lfinfra-gerrit-releng-global-jjb-committers
	push = group ldap/lfinfra-gerrit-releng-global-jjb-committers
