[access]
	inheritFrom = releng
[project]
	description = Global Jenkins Job Builder templates

[access "refs/*"]
	owner = group ldap/lfinfra-gerrit-releng-global-jjb-committers
	read = group GitHub Replication
[plugin "slack-integration"]
	channel = releng
	enabled = true
	username = LF-Gerrit
	webhookurl = https://hooks.slack.com/services/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
